<div id="container">
    <div id="sub-container">
        <p id="back" routerLink="">Accueil</p>
        <p>Créer un Sub RedDot !</p>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <label for="subTitle">Titre</label>
            <input class="text-input-line" placeholder="Entrez un titre"  type="text" id="subTitle" name="subTitle" required formControlName="title">
            <button class="btn" type="submit">Créer Sub-redDot</button>
        </form>
    </div>
</div>
