#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sub-container {
    width: 30%;
    height: auto;
    border: 2px solid #999;
    background-color: #999;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding-bottom: 20px;
    p:last-child {
        font-size: 25px;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 70%;
        label {
            font-size: 22px;
        }
    }
}

#back {
    align-self: flex-start;
    padding-left: 5px;
}

.text-input-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
}


.btn {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    background-color: #ff0800;
    border: none;
    border-radius: 0.25rem;
    margin: 10px auto;
    cursor: pointer;

    &:hover {
        background-color: darken(#ff0800, 10%);
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.968);
    }

    &:active {
        background-color: darken(#ff0800, 20%);
    }
}