<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div style="display: flex; align-items: center;">
            <img src="../../assets/logo_redDot_2.png" alt="Logo" width="150" routerLink="">
            <h2 style="font-size: 3rem;">RedDot</h2>
        </div>
        <h2>Connexion</h2>

        <label for="username"><b>Nom d'utilisateur</b></label>
        <input type="text" placeholder="Entrer le nom d'utilisateur" name="name" required formControlName="name">

        <label for="password"><b>Mot de passe</b></label>
        <input type="password" placeholder="Entrer le mot de passe" name="password" required formControlName="password">

        <div id="submit-box">
            <button class="btn" type="submit">Se connecter</button>
            <div id="errorMSg">
                <p>{{ errorMsg }}</p>
            </div>
        </div>
    </form>
    <p>Pas de compte ? <a routerLink="/signUp">Inscription</a></p>
</div>

