<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div style="display: flex; align-items: center;">
            <img src="../../assets/logo_redDot_2.png" alt="Logo" width="150" routerLink="">
            <h2 style="font-size: 3rem;">RedDot</h2>
        </div>
        <h2>Inscription</h2>
        <label for="username">Nom d'utilisateur</label>
        <input class="text-input-line"placeholder="Entrer le nom d'utilisateur"  type="text" id="username" name="username" required formControlName="name">
        <label for="email">Adresse e-mail</label>
        <input class="text-input-line"placeholder="Entrer l'adresse mail"  type="email" id="email" name="email" required formControlName="email">
        <label for="password">Mot de passe</label>
        <input class="text-input-line" type="password" id="password" name="password" minlength="8" required formControlName="password" >
        <div id="submit-box">
            <button class="btn" type="submit">S'inscrire</button>
        </div>
    </form>
    <p>Déjà un compte ? <a routerLink="/signIn">Connexion</a></p>
</div>
