$primary-color: #ff0800;

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30em;
    height: auto;
    border: 2px solid #c4c4c4;
    border-radius: 10px;
    background-color: #c4c4c4;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    margin-top: 170px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: $primary-color;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
    width: 100%;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: darken($primary-color, 10%);
    }
}

input[type="submit"]:focus {
    outline: none;
}

.btn {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    background-color: #ff0800;
    border: none;
    border-radius: 0.25rem;
    margin: auto;
    cursor: pointer;

    &:hover {
        background-color: darken(#ff0800, 10%);
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.968);
    }

    &:active {
        background-color: darken(#ff0800, 20%);
    }
}

.text-input-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;

    &:focus-within {
        outline: none;
        box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
        border-color: #007bff;
    }

    &.error {
        border-color: #dc3545;
    }

    &::placeholder {
        color: #999;
    }

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="password"],
    textarea {
        flex: 1;
        border: none;
        margin-left: 1rem;
        background-color: transparent;
    }

    label {
        margin-right: 1rem;
        font-weight: bold;
    }
}