<div id="card-container">
    <div id="create-community">
        <p id="title">Fil D'actualités</p>
        <!---- *ngIf="isLogged()" -->
        <button *ngIf="isLogged()" routerLink="subForm">Créer une communauté</button>
    </div>
    <div id="card-list">
        <div id="card" *ngFor="let post of postList">
            <div id="header_card">
                <p>Publié par <span>{{ (post.user.name.length > 15) ? (post.user.name | slice:0:10)+ '...' : post.user.name }}</span>
                     sur <span>{{ post.sub.title }}</span></p>
            </div>
            <div id="content_card">
                <h4>{{ post.name }}</h4>
                <p [innerHTML]="post.content"></p>
            </div>
        </div>
    </div>
</div>

