#card-container {
    width: 99vw;
    height: 100vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-list {
    z-index: -2;
}

#create-community {
    width: 95%;
    height: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-bottom: 2px solid #b9b9b9;
    position: fixed;
    padding: 0 60px;
    margin-top: 50px;
    // z-index: 1;
    button {
        color: #ffff;
        background-color: #0079D3;
        border-radius: 3px;
        border: 2px solid #0079D3;
        width: 150px;
        height: 40px;
    }
}

#title {
    font-size: 25px;
    font-weight: bold;
}

#card-list {
    margin-top: 160px;
}

#card {
    width: 40rem;
    color: #000;
    height: auto;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #f5f5f5;
    margin: 0 auto 20px auto;
}

#header_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p span {
        font-weight: bold;
    }
}

#join_channel {
    color: #ffff;
    background-color: #0079D3;
    border-radius: 3px;
    border: 2px solid #0079D3;
    width: 100px;
    height: 30px;
}
#join_channel:hover
{
    cursor: pointer;
}