<!------ *ngIf="!displayHeader.logPages" -->
<header>
    <div id="logo-div">
        <img src="assets/logo_redDot.png" alt="Logo" class="logo" routerLink="">
        <h1 id="site-title">RedDot</h1>
    </div>
    <div class="search-bar">
        <input id="searchbar" (keydown)="getSubKeyWord()" type="text" placeholder="Search..." [(ngModel)]="search">
        <div id="autocompletion" *ngIf="results && search.length > 0" [ngClass]="{'hide': search == ''}">
            <span *ngFor="let sub of results" routerLink="/sub/{{sub._id}}" (click)="resetSearch()">
                {{ sub.title }}
            </span>
        </div>
    </div>
    <div id="button-container">
        <div class="switch-box">
            <label class="switch" for="checkbox">
              <input type="checkbox" id="checkbox"/>
              <div class="slider round" (click)="toggleDarkTheme()"></div>
            </label>
        </div>
        <div id="log-container" *ngIf="!isLog()">
            <button type="button" class="log-btn" routerLink="signUp">Sign Up</button>
            <button type="button" class="log-btn" routerLink="signIn">Sign In</button>
        </div>
        <div id="panel-buttons" *ngIf="isLog()">
            <button class="pan-btn" id="profil"></button>
            <button class="pan-btn" id="log-out"></button>
        </div>
    </div>
</header>

<div class="container">
   <router-outlet></router-outlet>
</div>

<!-----
<ul id="dropdown-result" *ngFor="let sub of results">
            <li>
                <p routerLink="/sub/{{sub._id}}">{{sub.title}}</p>
            </li>
        </ul>
-->