<header> 
    <div id="logo-div">
        <img src="assets/logo_redDot.png" alt="Logo" class="logo">
        <h1>RedDot</h1>
    </div>
    <div class="search-bar">
        <input id="searchbar" type="text" placeholder="Search...">
    </div>
    <div id="button-container">
        <div class="switch-box">
            <label class="switch" for="checkbox">
              <input type="checkbox" id="checkbox"/>
              <div class="slider round"></div>
            </label>
        </div>
        <div id="log-container" *ngIf="!isLogIn">
            <button type="button" class="log-btn" routerLink="signUp">Sign Up</button>
            <button type="button" class="log-btn" routerLink="signIn">Sign In</button>
        </div>
        <div id="panel-buttons" *ngIf="isLogIn">
            <button class="pan-btn" id="create-post"></button>
            <button class="pan-btn" id="profil"></button>
            <button class="pan-btn" id="log-out"></button>
        </div>
    </div>
</header>
