header {
    background-color: #ff0800;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#logo-div {
    width: 33%;
    display: flex;
    align-items: center;
}

.logo {
    width: 20%;
}

.search-bar {
    width: 33%;
}

#searchbar {
    border-radius: 20px;
    border: none;
    padding: 10px;
    width: 100%;
}

#button-container {
    width: 33%;
    display: flex;
    align-items: center;
}

#log-container {
    margin-left: 20px;
}

#panel-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.pan-btn {
    width: 45px;
    height: 45px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    &:first-child {
        background-size: cover;
        background-image: url('../../../assets/add_post_icon.png');
        &:hover {
            transform: rotate(360deg);
            transition: 0.5s;
        }
    }
    &:nth-child(2) {
        background-size: 37px;
        background-image: url('../../../assets/profile_icon.png');
    }
    &:last-child {
        background-size: 35px;
        background-image: url('../../../assets/log_out_icon.png');
    }
}

.log-btn {
    background-color: white;
    border: none;
    border-radius: 20px;
    color: #FF4500;
    font-size: 16px;
    margin-right: 20px;
    padding: 10px 20px;
}

/* Switch Light/Dark Mode CSS */

.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.switch input {
    display:none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-image: url('../../../assets/moon_icon.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #66bb6a;
}
  
  input:checked + .slider:before {
    transform: translateX(26px);
    background-image: url('../../../assets/sun_icon.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .switch-box {
    margin: 5px 18% 0 18%;
  }

/* END */