/* You can add global styles to this file, and also import other style files */
@use "@material/button/styles";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #222;
    background-color: #fff;
  }
  body.dark-theme {
    color: #fff;
    background-color: #222;
  }
