#card-container {
    width: 99vw;
    height: 100vh;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

#create-community {
    width: 95%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border-bottom: 2px solid #b9b9b9;
    position: fixed;
    padding: 0 60px;
}

#create-post {
    // display: flex;
    // justify-content: flex-end;
    // flex-direction: row;
    // align-items: flex-end;
    width: 50px;
    height: 40px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 20%;
    background-image:url('../../assets/add_post_icon.png');
}

#title {
    font-size: 25px;
    font-weight: bold;
}

#card-list {
    margin-top: 160px;
}

#card {
    width: 40rem;
    height: auto;
    border: 2px solid #b9b9b9;
    border-radius: 5px;
    padding: 0 10px;
    margin: 0 auto 20px auto;
}

#header_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p span {
        font-weight: bold;
    }
}

#join_channel {
    color: #ffff;
    background-color: #0079D3;
    border-radius: 3px;
    border: 2px solid #0079D3;
    width: 150px;
    height: 40px;
}
#join_channel:hover
{
    cursor: pointer;
}
#join_channel:disabled {
    background-color: lightblue;
}

#create_post {
    color: #ffff;
    background-color: #0079D3;
    border-radius: 3px;
    border: 2px solid #0079D3;
    width: 100px;
    height: 30px;
}

#panel-buttons {
    display: flex;
    // justify-content: space-around;
    // align-items: center;
    width: 70%;
}

.pan-btn {
    width: 45px;
    height: 45px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    &:first-child {
        background-size: cover;
        background-image: url('../../assets/add_post_icon.png');
        &:hover {
            transform: rotate(360deg);
            transition: 0.5s;
        }
    }
}

.pan-btn {
    width: 45px;
    height: 45px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    &:first-child {
        background-size: cover;
        background-image: url('../../assets/add_post_icon.png');
        &:hover {
            transform: rotate(360deg);
            transition: 0.5s;
        }
    }

}

