<div id="card-container">
    <div id="create-community">
        <p id="title" *ngIf="sub">{{sub.title}}</p>
        <div id="panel-buttons">
            <button *ngIf="isLog()" class="pan-btn" id="create-post" routerLink="newPost"></button>
        </div>
        <button *ngIf="isLog()" id="join_channel" (click)="joinSub()">Rejoindre</button>
    </div>
    <div id="card-list" *ngIf="sub">
        <div id="card" *ngFor="let post of sub.posts">
            <div id="header_card">
                <p>Publié par <span>{{ (post.user.name.length > 15) ? (post.user.name | slice:0:10)+ '...' : post.user.name }}</span>
                     sur <span>{{ sub.title }}</span></p>
            </div>
            <div id="content_card">
                <h4>{{ post.name }}</h4>
                <p [innerHTML]="post.content"></p>
            </div>
        </div>
    </div>
</div>