body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

textarea {
    width: 100%;
    height: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.toolbar button {
    background-color: #FF4500;
    border: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.md-button {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:none;
    border: none;
    outline: none;
  }

  .text-editor-button {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
  }

  #text-editor-button-focus {
    color: black;
    background-color: #ff0800;
    font-weight: bold;
  }

  #text-editor-title {
    padding-top: 150px;
  }