<h1 id="text-editor-title">Créer une publication</h1>

<form (ngSubmit)="publish()" [formGroup]="form">
  <label for="publication-title">Titre :</label>
  <input type="text" id="publication-title" [(ngModel)]="publicationTitle" formControlName="name">
  
  <ckeditor
    [(ngModel)]="ckeditorContent" formControlName="content">
      <!-- <ckbutton [name]="'saveButton'"
        [command]="'saveCmd'"
        (click)="save($event)"
        [icon]="'save.png'"
        [label]="'Save Document'"
        [toolbar]="'clipboard,1'">
      </ckbutton> -->
  </ckeditor>
  
  <div class="text-editor-button">
      <button class="mdc-button mdc-button--raised" id="text-editor-button-focus" type="submit">
          <span class="mdc-button__ripple"></span>
          <span class="mdc-button__focus-ring"></span>
          <span class="mdc-button__label">Publier</span>
      </button>
  </div>
</form>